<!DOCTYPE html>
{% extends 'to_do_App/tasks_template.html' %}

{% block main %}
<div class="main">
    <div class="side_panel">
        <ul>
            <a href="/ongoing_tasks"><li id ="current">Ongoing Tasks</li></a>
            <a href="/upcoming_tasks"><li >Upcoming Tasks</li></a>
            <a href="/completed_tasks"><li >Completed Tasks</li></a>
            <a href="/new_task"><li >Add New Task</li></a>
        </ul>
    </div>
    <div class="main_content">
        {% if tasks %}
            <h2>Ongoing task</h2>
            
            <table>
                <thead>
                    <th>Task</th>
                    <th>Begins At</th>
                    <th>Ends At</th>
                </thead>
                {% for task in tasks%}
                <tr>
                    <td>{{task.title}} - {{task.description}}</td>
                    <td>{{task.task_starts_at}}</td>
                    <td>{{task.task_ends_at}}</td>
                    <td id="delete_button"><a href="/delete_task/ongoing/{{task.id}}">Delete</a</td>

                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>You don't have any ongoing task</h2>
        {% endif %}

    </div>
</div>
{% endblock %}