<!DOCTYPE html>
{% extends 'to_do_App/skeleton.html'%}
{% load static %}

{% block title%}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<title>Login</title>
{% endblock %}

{% block content%}
<p id='home_link'><a href="/">Home</a> ></p>
<div class="signup_form">
    <h1>Login</h1>
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value='Submit'>
    </form>
    <p>Don't have an account? <br> Create new account <a href="/signup">Sign Up</a>.</p>

</div>


{% endblock %}
