.main{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

}

.main h1{
    color: rgb(151, 27, 151);
    font-family: monospace;
    font-size: 40px;
    justify-items: flex-start;
   
}

.main img{
    width: 100px;
    height: 150px;
}

.main a{
    background-color: rgb(129, 28, 129);
    padding: 10px 20px;
    color: wheat;
    text-decoration: none;
    font-weight: 800;
    font-family: monospace;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(129, 28, 129);
}

.main a:hover{
    transition-duration: .4s;
    transition-property: color, border, background-color;
    color: rgb(129, 28, 129);
    border: 1px solid rgb(129, 28, 129);
    background-color: white;
}