body{
    margin: 0px;
    padding: 0px;
}


.nav_bar {
    background-color: rgb(40, 138, 184);
    margin-top: 0px;
    padding: 10px 0px;
    text-align: center;
    color: wheat;
    height: 50px;
    border-top: 5px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bar h1{
    height: 38px;
}

.nav_bar img{
    width: 30px;
    height: 30px;
}




